Repository Armor-test/reporting-tool-932, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-data, @Armor-test/unit-test, @Armor-test/team-security, @Armor-test/dept-test, @Armor-test/squad-ux, @Armor-test/unit-cloud, @Armor-test/grp-api, @Armor-test/squad-product, @Armor-test/dept-release, @Armor-test/squad-database, @Armor-test/grp-search, @Armor-test/dept-reliability, @Armor-test/squad-cache, @Armor-test/squad-reporting, @Armor-test/squad-apps, @Armor-test/grp-reporting, @Armor-test/dept-notifications, @Armor-test/squad-mobile, @Armor-test/squad-ml, @Armor-test/squad-cloud, @Armor-test/grp-payments, @Armor-test/dept-security, @Armor-test/dept-ui, @Armor-test/team-reporting, @Armor-test/grp-ui, @Armor-test/team-governance, @Armor-test/squad-payments, @Armor-test/squad-research, @Armor-test/team-logging, @Armor-test/dept-api, @Armor-test/team-notifications, @Armor-test/team-frontend, @Armor-test/dept-identity, @Armor-test/dept-logging, @Armor-test/squad-tooling, @Armor-test/dept-billing, @Armor-test/unit-design, @Armor-test/team-research, @Armor-test/squad-api, @Armor-test/unit-governance, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/infra, @Armor-test/security, @Armor-test/auth-team

.github/CODEOWNERS:

# CODEOWNERS file for reporting-tool-932
# Global owners - will be requested for all PRs
* @Armor-test/dept-data @Armor-test/unit-test @Armor-test/team-security

# Directory ownership
/ui/ @Armor-test/dept-test @Armor-test/squad-ux
/config/ @Armor-test/unit-cloud @Armor-test/grp-api @Armor-test/squad-ux
/api/ @Armor-test/squad-product @Armor-test/dept-release @Armor-test/squad-database
/controllers/ @Armor-test/squad-product @Armor-test/grp-search @Armor-test/dept-reliability
/core/ @Armor-test/squad-cache @Armor-test/unit-cloud @Armor-test/squad-reporting
/internal/ @Armor-test/squad-apps @Armor-test/squad-product @Armor-test/grp-reporting
/helpers/ @Armor-test/dept-notifications @Armor-test/squad-mobile @Armor-test/squad-ml
/views/ @Armor-test/squad-ux @Armor-test/squad-cloud
/docs/ @Armor-test/unit-cloud @Armor-test/grp-payments @Armor-test/dept-security
/common/ @Armor-test/dept-ui @Armor-test/squad-ux
/migrations/ @Armor-test/squad-apps @Armor-test/dept-reliability @Armor-test/team-reporting
/data/ @Armor-test/squad-product @Armor-test/grp-ui @Armor-test/dept-test
/extensions/ @Armor-test/dept-data @Armor-test/team-governance
/lib/ @Armor-test/squad-payments @Armor-test/squad-reporting
/components/ @Armor-test/squad-cache @Armor-test/squad-research

# File type ownership
*.json @Armor-test/dept-test @Armor-test/dept-data
*.md @Armor-test/squad-mobile @Armor-test/team-logging @Armor-test/dept-api
*.ts @Armor-test/dept-release @Armor-test/team-notifications
*.config @Armor-test/dept-test @Armor-test/team-security @Armor-test/dept-reliability
*.java @Armor-test/team-frontend @Armor-test/team-security @Armor-test/dept-notifications
*.properties @Armor-test/grp-payments @Armor-test/squad-mobile @Armor-test/dept-identity
*.c @Armor-test/dept-logging @Armor-test/unit-cloud @Armor-test/squad-tooling
*.cpp @Armor-test/dept-notifications @Armor-test/dept-billing
*.js @Armor-test/dept-ui @Armor-test/unit-design @Armor-test/team-research
*.sql @Armor-test/squad-api @Armor-test/squad-database @Armor-test/squad-tooling
*.kt @Armor-test/team-reporting @Armor-test/squad-database
*.xml @Armor-test/unit-governance @Armor-test/team-research

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
Dockerfile @Armor-test/devops @Armor-test/infra
/src/**/auth/ @Armor-test/security @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-data, @Armor-test/unit-test, @Armor-test/team-security

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/unit-cloud, @Armor-test/grp-payments, @Armor-test/dept-security

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-data, @Armor-test/unit-test, @Armor-test/team-security

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-data, @Armor-test/unit-test, @Armor-test/team-security

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-ui, @Armor-test/unit-design, @Armor-test/team-research
